body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1912px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:202px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:1920px;
  height:202px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:747px;
  height:42px;
}
#u1_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:42px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:42px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:0px;
  width:93px;
  height:42px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:0px;
  width:93px;
  height:42px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:0px;
  width:93px;
  height:42px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:0px;
  width:93px;
  height:42px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:93px;
  height:42px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:42px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:0px;
  width:93px;
  height:42px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:89px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:42px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:0px;
  width:96px;
  height:42px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:92px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:105px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:80px;
  width:220px;
  height:105px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:37px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:2px;
  width:130px;
  height:37px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:126px;
  word-wrap:break-word;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:-3px;
  width:325px;
  height:45px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:45px;
  background-color:#199ED8;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:2px;
  width:574px;
  height:40px;
}
#u14_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:574px;
  height:40px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:115px;
  height:40px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:115px;
  height:40px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:40px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:0px;
  width:115px;
  height:40px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:111px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:40px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:114px;
  height:40px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:110px;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:1776px;
  top:2px;
  width:140px;
  height:40px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:275px;
  width:1103px;
  height:56px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
  color:#199ED8;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:0px;
  width:138px;
  height:30px;
  color:#199ED8;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:0px;
  width:138px;
  height:30px;
  color:#199ED8;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:0px;
  width:138px;
  height:30px;
  color:#199ED8;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:0px;
  width:138px;
  height:30px;
  color:#199ED8;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:0px;
  width:138px;
  height:30px;
  color:#199ED8;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:30px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:0px;
  width:138px;
  height:30px;
  color:#199ED8;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:134px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:0px;
  width:137px;
  height:30px;
  color:#199ED8;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:138px;
  height:26px;
  color:#199ED8;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:30px;
  width:138px;
  height:26px;
  color:#199ED8;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:30px;
  width:138px;
  height:26px;
  color:#199ED8;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:30px;
  width:138px;
  height:26px;
  color:#199ED8;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:552px;
  top:30px;
  width:138px;
  height:26px;
  color:#199ED8;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:30px;
  width:138px;
  height:26px;
  color:#199ED8;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:26px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:30px;
  width:138px;
  height:26px;
  color:#199ED8;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:134px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:26px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:966px;
  top:30px;
  width:137px;
  height:26px;
  font-family:'Bahnschrift';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:39px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:275px;
  width:41px;
  height:39px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:323px;
  width:30px;
  height:18px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:51px;
  height:49px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:275px;
  width:41px;
  height:39px;
  color:#CC0000;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:323px;
  width:31px;
  height:16px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:39px;
  background:inherit;
  background-color:rgba(51, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u43 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:275px;
  width:43px;
  height:39px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:323px;
  width:31px;
  height:16px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:52px;
  height:49px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:275px;
  width:42px;
  height:39px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:323px;
  width:30px;
  height:18px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:135px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:356px;
  width:306px;
  height:125px;
  color:#330000;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:135px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1430px;
  top:553px;
  width:306px;
  height:125px;
  color:#330000;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:135px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:356px;
  width:306px;
  height:125px;
  color:#330000;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:135px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:553px;
  width:306px;
  height:125px;
  color:#330000;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:135px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:553px;
  width:306px;
  height:125px;
  color:#330000;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:135px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:356px;
  width:306px;
  height:125px;
  color:#330000;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:135px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:356px;
  width:306px;
  height:125px;
  color:#330000;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:759px;
  top:696px;
  width:241px;
  height:18px;
  font-size:20px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1520px;
  top:696px;
  width:125px;
  height:23px;
  font-size:20px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:696px;
  width:367px;
  height:23px;
  font-size:20px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  white-space:nowrap;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1112px;
  top:497px;
  width:235px;
  height:23px;
  font-size:20px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:1417px;
  top:495px;
  width:332px;
  height:56px;
  font-size:20px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:497px;
  width:219px;
  height:23px;
  font-size:20px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:275px;
  width:81px;
  height:26px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:1504px;
  top:310px;
  width:81px;
  height:26px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:275px;
  width:81px;
  height:26px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1596px;
  top:310px;
  width:81px;
  height:26px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:1689px;
  top:275px;
  width:81px;
  height:26px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:1689px;
  top:310px;
  width:81px;
  height:26px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:316px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:377px;
  width:524px;
  height:316px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:187px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:825px;
  width:270px;
  height:187px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:187px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:825px;
  width:270px;
  height:187px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:187px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:825px;
  width:270px;
  height:187px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:187px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:1097px;
  top:825px;
  width:270px;
  height:187px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:241px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:829px;
  width:341px;
  height:241px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1911px;
  height:192px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:1199px;
  width:1911px;
  height:192px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#330000;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:1020px;
  width:270px;
  height:53px;
  font-size:28px;
  color:#330000;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#330000;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:1020px;
  width:277px;
  height:126px;
  font-size:28px;
  color:#330000;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#330000;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:1035px;
  width:270px;
  height:38px;
  font-size:28px;
  color:#330000;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#330000;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:1041px;
  width:113px;
  height:33px;
  font-size:28px;
  color:#330000;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:765px;
  width:341px;
  height:45px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:337px;
  word-wrap:break-word;
}
